[user]
    name = lumbric
    email = lumbric@gmail.com
[alias]
    commitall = ! git add -A && git commit
    amend = git commit --amend
	find-file = "!for branch in $(git for-each-ref --format=\"%(refname)\" refs/remotes/origin); do if git ls-tree -r --name-only $branch | grep \"$1\" > /dev/null; then  echo \"${branch}:\"; git ls-tree -r --name-only $branch | nl -bn -w3 | grep \"$1\"; fi; done; :"
	find-file-local = "!for branch in $(git for-each-ref --format=\"%(refname)\" refs/heads); do if git ls-tree -r --name-only $branch | grep \"$1\" > /dev/null; then  echo \"${branch}:\"; git ls-tree -r --name-only $branch | nl -bn -w3 | grep \"$1\"; fi; done; :"
	grep-all = "!git grep --heading --break --line-number \"$1\" $(git branch -r|grep -v '>'); : "
	grep-all-local = "!git grep --heading --break --line-number \"$1\" $(git for-each-ref --format='%(refname:short)' refs/heads/|grep -v '>'); : "

[merge]
    tool = meld16
[mergetool "meld17"]
    #cmd = meld --output "$MERGED" "$LOCAL" "$BASE" "$REMOTE"
    #cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE --output $MERGED
    cmd = meld $LOCAL $MERGED $REMOTE
    #cmd = meld $LOCAL $BASE $REMOTE --auto-merge
[mergetool "meld16"]
    cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE --output $MERGED
[color]
    ui = true


[include]
    # requires git v1.7.10+
    path = .dot-file-repo/git/.gitconfig.local
[diff]
	tool = meld
[push]
	default = simple
[core]
	editor = vim
