[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "neovim/vim-plug"]
	path = neovim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "neovim/plugged/vim-sensible"]
	path = neovim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "neovim/plugged/vim-openscad"]
	path = neovim/plugged/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "neovim/plugged/ctrlp.vim"]
	path = neovim/plugged/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "neovim/plugged/python-mode"]
	path = neovim/plugged/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "neovim/plugged/nerdcommenter"]
	path = neovim/plugged/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "neovim/plugged/vim-fugitive"]
	path = neovim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "neovim/plugged/a.vim"]
	path = neovim/plugged/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "neovim/plugged/matchit"]
	path = neovim/plugged/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "neovim/plugged/vim-surround"]
	path = neovim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "neovim/plugged/vim-airline"]
	path = neovim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "neovim/plugged/vim-grepper"]
	path = neovim/plugged/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "neovim/plugged/Zenburn"]
	path = neovim/plugged/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "neovim/plugged/nerdtree"]
	path = neovim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "neovim/plugged/vim-kalisi"]
	path = neovim/plugged/vim-kalisi
	url = https://github.com/freeo/vim-kalisi.git
[submodule "zsh/powerlevel9k"]
	path = zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "neovim/plugged/vim-trailing-whitespace"]
	path = neovim/plugged/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "neovim/plugged/vim-polyglot"]
	path = neovim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "neovim/plugged/deoplete.nvim"]
	path = neovim/plugged/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "neovim/plugged/aw-watcher-vim"]
	path = neovim/plugged/aw-watcher-vim
	url = https://github.com/ActivityWatch/aw-watcher-vim.git
[submodule "neovim/plugged/jedi-vim"]
	path = neovim/plugged/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "neovim/plugged/vim-signify"]
	path = neovim/plugged/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "neovim/plugged/vim-autoclose"]
	path = neovim/plugged/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "neovim/plugged/fzf.vim"]
	path = neovim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "zsh/conda-zsh-completion"]
	path = zsh/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
[submodule "neovim/plugged/suda.vim"]
	path = neovim/plugged/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
[submodule "neovim/plugged/vim-colors-xcode"]
	path = neovim/plugged/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode.git
[submodule "neovim/plugged/xcode-vim"]
	path = neovim/plugged/xcode-vim
	url = https://github.com/JaySandhu/xcode-vim.git
[submodule "neovim/plugged/vimroom"]
	path = neovim/plugged/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "neovim/plugged/presenting.vim"]
	path = neovim/plugged/presenting.vim
	url = https://github.com/sotte/presenting.vim.git
[submodule "neovim/plugged/black"]
	path = neovim/plugged/black
	url = https://github.com/psf/black.git
[submodule "neovim/plugged/vim-snakemake"]
	path = neovim/plugged/vim-snakemake
	url = https://github.com/ibab/vim-snakemake.git
